.card {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 4px;
    padding: 6px;
    width: 85px;
    height: 120px;
    background-image: linear-gradient(white 65%, #EEEEEE);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    .♦,
    .♥ {
        color: red;
    }

    .suit,
    .rank {
        display: inline-flex;
        font-size: 32px;
        font-weight: 500;
        line-height: 24px;
    }

    .suit.big {
        font-size: 90px;
        align-self: flex-end;
        line-height: 55px;
        align-items: flex-end;
    }

    &.face-down {
        background-color: #f70b45;
        background-size: 24px 24px;
        background-image: radial-gradient(transparent 12px,
                #ffffff 12px,
                #ffffff 14px,
                transparent 14px),
            radial-gradient(transparent 12px,
                #ffffff 12px,
                #ffffff 14px,
                transparent 14px);
        background-position: 0 0, 12px 12px;
    }
}