:host {
    display: flex;
    flex-direction: column;
    align-items: center;

    .dealer,
    .player {
        display: flex;
        flex-direction: column;
        align-items: center;

        .result {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            border-radius: 6px;
            padding: 8px 16px;
            color: white;
            font-size: 19px;
            text-shadow: 1px 1px black;
            background: rgba(0, 0, 0, 0.25);
        }
    }

    .players {
        display: flex;

        .player+.player {
            margin-left: 50px;
        }

        button+button {
            margin-left: 4px;
        }
    }
}