:host {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    
    .game {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    .controls {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 16px;
        width: 100%;
        background: rgba(0,0,0,0.55);
    
        .person {
            color: white;
    
            .name {
                display: flex;
                align-items: center;
                font-size: 18px;
            }

            .winnings {
                text-align: center;
            }
        }
    }
}

